.form-container {
  background-color: #fff;
  padding: 90px;
  border-radius: 10px;
  margin-bottom: 30px;
  -webkit-box-shadow: 4px 6px 27px -6px rgba(0,0,0,0.73);
  -moz-box-shadow: 4px 6px 27px -6px rgba(0,0,0,0.73);
  box-shadow: 4px 6px 27px -6px rgba(0,0,0,0.73);

  display: flex;
  flex-direction: column;
}

.form-container .row {
   margin-bottom: 30px;
}


