.header-container {
  width: 100%;
  max-width: 1180px;
  margin: 32px auto;
  padding: 0 60px;
}


.header-container header {
  display: flex;
  align-items: center;
}

.header-container header span {
  font-size: 28px;
  margin-left: 5px;
}

.header-container header img {
  height: 160px;
}

.button {
  width: 160px;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eef0ec;
  background: #91d44d;
  margin-left: auto;
  text-decoration: none;
  transition: background 0.3s;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background: #82b94a;
  text-decoration: none;
  color: #fff;
}