.container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-style {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  background-color: rgb(255, 255, 255);
  margin-bottom: 15px;
}

.card-title-style {
  font-size: 25pt;
  color: rgb(80, 80, 80);
}

.card-subtitle-style {
  font-size: 16pt;
  color: rgb(102, 102, 102);
}

.active-course {
  color: rgb(105, 202, 105);
  padding-left: 5px;
}

.inactive-course {
  color: rgb(230, 84, 84);
  padding-left: 5px;
}

.course-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.course-description {
  font-size: 15pt;
  color: rgb(138, 138, 138)
}

.course-date {
  font-size: 10pt;
  color: rgb(151, 151, 151);
}

.option-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.option-buttons Button {
  margin-left: 5px;
  margin-right: 5px;
}

.input-boxes {
  margin-top: 10px;
}